.medi{
    border: 2px solid black;
    padding: 20px;
    background-color: aquamarine;
}
.mediit{
    border: 2px;
    padding: 20px;
}
.fig, .fig2, .fig3, .fig4{
    display: flex;
    justify-content: space-evenly;
}
.h2{
    text-align: center;
    text-shadow: cadetblue;
    font-size: large;
}
.img{
    align-items: center center;
}